<h1>Listing women</h1>

<%= form_tag(search_women_path, :method => "get") do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search women" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @women.present? %>

       <table>
       <thead>
       <tr>
       <th>Name</th>
       <th>Area</th>
       <th>Current position</th>
       <th>Linkedin</th>
       <th colspan="3"></th>
       </tr>
       </thead>

       <tbody>
       <% @women.each do |woman| %>
         <tr>
         <td><%= woman.name %></td>
         <td><%= woman.area %></td>
         <td><%= woman.current_position %></td>
         <td><%= woman.linkedin %></td>
         <td><%= link_to 'Show', woman %></td>
         <td><%= link_to 'Edit', edit_woman_path(woman) %></td>
         <td><%= link_to 'Destroy', woman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <% end %>
       </tbody>
       </table>

       <br>
     <% else %>
       <p> There are no women containing the name <%= params[:search] %></p>
     <% end %>

     <%= link_to 'New Woman', new_woman_path %>
