<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @woman.name %>
</p>

<p>
  <strong>Área:</strong>
  <%= @woman.area %>
</p>

<p>
  <strong>Cargo Atual:</strong>
  <%= @woman.current_position %>
</p>

<p>
  <strong>LinkedIn:</strong>
  <%= @woman.linkedin %>
</p>

<%= link_to 'Editar', edit_woman_path(@woman) %> |
<%= link_to 'Voltar', women_path %>
