<!DOCTYPE html>
<html>
<head>
  <title>Convide uma mulher para palestrar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <a href="/">
      <div class="logo-container">
        <div class="logo">
        </div>
      </div>
    </a>
  </div>
  <%= link_to "Women", women_path %>

<%= yield %>

</body>
</html>
